*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../images/source.gif);
    background-size: cover;
    color: rgb(0, 0, 0);
}

header{
    width: 40%;
    float: right;
    height: 60px;
    line-height: 60px;

}
ul{
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

ul li{
    font-size: 18px;
    font-weight: 700;
}

ul li:hover{
    color: rgb(14, 15, 15)
}

.container{
    padding: 20px;
}

.site-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    border: 2px solid #050505;
    padding: 10px 20px;
    width: 300px;
    font-size: 36px;
    color: #f30909;
    border-radius: 5px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.subtitle{
    font-size: 28px;
    letter-spacing: 6px;
    padding: 10px 0;
}

footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social{
    padding-left: 20px;
}
.social i{
    font-size: 18px;
    padding-right: 15px;
}
.copyright{
    font-size: 17px;
    letter-spacing: 5px;
    padding-right: 20px;
}
